* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(252, 252, 252);
}